<router-outlet />
<div class="h-100 d-flex justify-content-center align-items-center">
<div class="d-flex align-items-center flex-column">
  <img [src]="currentLogo" class="d-inline-block align-top pb-3" alt="" />
  <h3 class="display-4 step-color-primary text-center pb-4">
    Our website is under construction
  </h3>
  <div class="d-flex flex-wrap justify-content-center pb-3">
    <div class="h-75">
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.instagram.com/officialstepnow/?hl=en"
        class="text-decoration-none"
      >
        <span class="d-block fab fa-instagram text-white fa-lg mx-2"></span>
      </a>
    </div>
    <div class="h-75">
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://www.facebook.com/officialstepnow/"
        class="text-decoration-none"
      >
        <span class="d-block fab fa-facebook-f fa-lg mx-2 text-white"></span>
      </a>
    </div>
    <div class="h-75">
      <a
        href="https://twitter.com/officialstepnow"
        target="_blank"
        rel="noopener noreferrer"
        class="text-decoration-none"
      >
        <span class="d-block fab fa-twitter text-white fa-lg ml-2"></span>
      </a>
    </div>

  </div>

  <span class="text-center text-white">
    Copyright © 2019 STEP NOW. All Rights Reserved.
  </span>
</div>
</div>

ƒ
